/* Styles for the Student React component */

.student {
  margin-bottom: 5px;
  font-size: 150%;
}

.student .MuiTableCell-root {
  font-size: 0.75em;
  color: darkslategray;
}

.button {
      padding:5px 15px;
      outline: none;
      background-color: #003d99;
      border: none;
      border-radius:5px;
      color:white;

       text-align: center;
        cursor: pointer;
        font-size:16px;
        margin: 0 0 0 20px;
 }
