/* Top-level shared styles */
/* You can keep styles that are shared by different components here */

html {
  height: 100%;
}

body {
  margin: 15px 10px;
  color: darkslategrey;
  background-color: #fafafa;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
